<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="{{ path('andreo.oauth.client.authorize', { 'client_name': 'fb', 'zone': 'main' }) }}">Fb</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
