<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% include '@AndreoOAuthApiConnector/authorization_url.html.twig' with { 'client_name': 'fb', 'zone_id': 'main', 'text': 'Zaloguj z facebook'  } %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
